<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
      <% if @current_user.present? %>
              <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
  <li class="nav-item">
        <a class="nav-link" href="/events/new">Create Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events?categorie=send">Your Publication</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/venues/new">Create Venue</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <%else%>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>

      <%end%>
    </ul>
  </nav>  

  <html>
<head>
  <title>GifVault</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

# added these lines.
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

</body>
</html>

